@use 'sass:math';

@import 'var';

:root {
    @include css-var(delay-instant, ms(map-get($delay, instant)));
    @include css-var(delay-fast, ms(map-get($delay, fast)));
    @include css-var(delay-med-fast, ms(map-get($delay, med-fast)));
    @include css-var(delay-default, ms(map-get($delay, default)));
    @include css-var(delay-med-slow, ms(map-get($delay, med-slow)));
    @include css-var(delay-slow, ms(map-get($delay, slow)));
    
    $height: 50;
    @include css-var(height, px($height));
    $btn-margin: 7;
    $btn-height: $height - $btn-margin * 2;
    @include css-var(btn-height, px($btn-height));
    $btn-bar-height: math.div($btn-height, 12);
    @include css-var(btn-bar-height, px($btn-bar-height));
    $btn-side-padding: $btn-bar-height * 2;
    @include css-var(btn-side-padding, px($btn-side-padding));
    
    @include css-var(fg, black);
    @include css-var(bg, white);
    @include css-var(header-bg, lightgray);
    @include css-var-ref(menu-bg, bg);
}