/// theme.scss - Base theme for the n4v library
/// @author App/Art Mint
/// 
/// @group Themes
@charset 'utf-8';

/// Imports
@use 'sass:math';
@use './imports/util' as *;

@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@200;400;600&display=swap');

/// CSS variables
:root {
    $height: 50;
    @include css-var(height, px($height));
    $btn-margin: 7;
    $btn-height: $height - $btn-margin * 2;
    @include css-var(btn-height, px($btn-height));
    $btn-bar-height: math.div($btn-height, 12);
    @include css-var(btn-bar-height, px($btn-bar-height));
    $btn-side-padding: $btn-bar-height * 2;
    @include css-var(btn-side-padding, px($btn-side-padding));
    
    @include css-var(fg, #ddd);
    @include css-var(bg, #1a1a2e);
    @include css-var(header-bg, #0F3460);
    @include css-var-ref(menu-bg, bg);
    @include css-var(link, #2276dd);
    @include css-var(link-visited, #0F3460);
}

/// Styles
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    color: css-var(fg);
    background: css-var(bg);
    font-family: 'Palanquin', sans-serif;
}

button, a[routerLink] {
    cursor: pointer;
}

#{id(header)} {
    nav {
        a, button {
            outline-offset: -2px;
        }
    }
    
    a, button {
        width: 100%;
        height: 2em;
        margin: 0;
        border: 0;
        color: css-var(fg);
        background: transparent;
        font-size: 1em;
    }
    
    // This has issues with screens at different dpi
    #{controls(wrapper)} {
        position: relative;
        width: css-var(btn-height);
        height: css-var(btn-height);
        margin: calc((css-var(height) - css-var(btn-height)) / 2);
        overflow: hidden;
        
        &::before, &::after {
            content: '';
            position: absolute;
            width: calc(css-var(btn-height) - css-var(btn-side-padding) * 2);
            height: 0;
            transform: translate(-50%, (-50% * 5));
            transform-origin: top left;
            border-bottom: solid css-var(btn-bar-height) css-var(fg);
            transition: transform css-var(delay-med-slow) linear, height css-var(delay-default) linear css-var(delay-fast), border css-var(delay-default) linear css-var(delay-fast);
        }

        &::after {
            height: calc(css-var(btn-bar-height) * 3);
            transform: translate(-50%, math.div(-50%, 3));
            border-top: solid css-var(btn-bar-height) css-var(fg);
        }
        
        &#{expanded(true)} {
            &::before, &::after {
                transform: rotate(45deg) translate(-50%, -50%);
                transition: transform css-var(delay-default) linear css-var(delay-fast), height css-var(delay-med-slow), border css-var(delay-med-slow);
            }
            
            &::after {
                height: 0;
                transform:  rotate(-45deg) translate(-50%, -50%);
                border-top: solid 0 transparent;
            }
        }
    }
    
    #{id(logo)} {
        width: css-var(btn-height);
        height: css-var(btn-height);
    }
}

#{class(pill)} {
    padding: 0 12px;
    border-radius: 15px;
    line-height: 1.5;
    text-decoration: none;
    color: css-var(fg);
    background: css-var(header-bg);
}

#{class(shine)} {
    position: relative;
    overflow: hidden;

    &:hover, &:focus-visible, &:active, &#{class(active)} {
        &::after {
            transition-duration: delay(default);
            transform: translate(100%, -100%);
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate(-100%, 100%);
        background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 100%);
        transition: transform delay(med-fast) ease-in;
    }
}