// Global Vars
$lib: n4v;
$dash: #{'-'};
$dot: #{'.'};
$hash: #{'#'};
$disabled: #{'[disabled]'};
$controls: #{'[aria-controls]'};
$expanded: #{'[aria-expanded]'};
$tabbable: #{'[tabindex]'};
$delay-base: 0;
$delay-step: 100;

// Functions
@function prefix ($base) {
    @return $lib + $dash + $base;
}

@function css-prefix ($base) {
    @return $dash + $dash + prefix($base);
}

@function css-var ($base) {
    @return var(css-prefix($base));
}

@function class($base) {
    @return $dot + prefix($base);
}

@function id ($base) {
    @return $hash + prefix($base);
}

@function neg ($base) {
    @return ':not(' + $base + ')';
}

@function controls ($id) {
    @return '[aria-controls=' + prefix($id) + ']';
}

@function expanded ($bool) {
    @return '[aria-expanded=' + $bool + ']';
}

@function ms ($val) {
    @return $val * 1ms;
}

@function px ($val) {
    @return $val * 1px;
}

@function strip-unit($value) {
    @return math.div($value, $value * 0 + 1);
}

// Maps
$delay: (
    instant: $delay-base + $delay-step * 0,
    fast: $delay-base + $delay-step * 1,
    med-fast: $delay-base + $delay-step * 2,
    default: $delay-base + $delay-step * 3,
    med-slow: $delay-base + $delay-step * 4,
    slow: $delay-base + $delay-step * 5
);

// Mixins
@mixin css-var ($key, $val) {
    #{css-prefix($key)}: #{$val};
}

@mixin css-var-ref ($key1, $key2) {
    @include css-var($key1, css-var($key2));
}

@mixin fluid($prop, $min-vw, $max-vw, $min-size, $max-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-size);
    $u4: unit($max-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            #{$prop}: $min-size;
            @media (min-width: $min-vw) {
                #{$prop}: calc(#{$min-size} + #{strip-unit($max-size - $min-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media (min-width: $max-vw) {
                #{$prop}: $max-size;
            }
        }
    }
}